# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Build / packaging
*.egg-info/
dist/
build/

# Demo / temporary outputs
data/*.svg
data/demo_*csv
data/missing_field_id.csv


# Notebook autosaves
*/.ipynb_checkpoints/
